<form (ngSubmit)="addEvent()">

    <input
            [(ngModel)]="event.title"
            name="eventTitle"
            type="text">

    <input
            [(ngModel)]="event.description"
            name="eventTitle"
            type="text">

    <button type="submit">ADD</button>

</form>
