<ul>

  <li *ngFor="let event of eventList">
    <span>{{ event.title }}</span>
    <span>:</span>
    <span>{{ event.description }}</span>
    <button (click)="removeEvent(event)">REMOVE</button>
  </li>

</ul>
